*{
margin: 0;
padding: 0;
}

.navbar{
    background-color: rgb(48, 44, 165);
}



.bgc{
    background-color: rgb(220, 229, 236);
}

.topimg{
    width: 100%;
}

.districts{
    background-color: rgb(220, 229, 236);
}




.signlog{
    background-color: rgb(220, 229, 236);
    border-radius: 250px;
}

.errormail{
    margin: 0;
    padding: 0;
    font-size: small;
}

 
